@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in box model */
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

/* Global variables */
:root {
  --background-color: #2b2b2b;
  --color: white;
  --universal-padding: 10px 10rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
}

/* Common title styling */
.titles {
  position: relative;
  width: fit-content;
  padding-bottom: 0.2rem;
}

.titles::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: green;
}

/* Header styling */
header {
  box-shadow: 0 0.5px 10px 0px black;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0.5rem 0 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

header .bars {
  font-size: var(--font-size-large);
  color: var(--color);
  cursor: pointer;
  display: none;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin-left: 2.5rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--color);
  font-size: var(--font-size-large);
}

/* Side header styling */
.side-header {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
.side-header .side-header-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.side-header.active {
  display: block;
}

.x-bars {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 10vw;
  color: var(--color);
}

.side-jeader-nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.side-jeader-nav #home {
  color: green;
}

.side-jeader-nav ul li a {
  color: var(--color);
  font-size: 8vw;
  text-decoration: none;
}

.side-header-social {
  display: flex;
  column-gap: 2rem;
  justify-content: space-evenly;
}

.side-header .side-header-social a {
  color: white;
  font-size: 10vw;
}

/* Section for home page */
.first-section {
  background-image: url("../Assets/bg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: var(--universal-padding);
  background-color: var(--background-color);
  color: var(--color);
  height: 100vh;
}

.first-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.right {
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 2rem;
}

.right h1 {
  font-size: 2.5rem;
}

.right-btns {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.right-btns button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  color: var(--color);
  background-color: black;
  cursor: pointer;
  font-size: var(--font-size-medium);
}

/* Skills section */
.skills {
  border-top: 5px solid black;
  background-color: var(--background-color);
  color: var(--color);
  min-height: 80vh;
  padding: var(--universal-padding);
}

.skills-wrapper,
.skills-container {
  margin-top: 2rem;
  height: 100%;
  padding: 1rem 0;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.card {
  width: fit-content;
  min-height: 15rem;
  padding: 1rem 3.5rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0.5px 10px 0px black;
}

.card .card-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.card .card-container > div {
  border: 1px solid black;
  width: max-content;
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

/* Projects section */
.projects {
  border-top: 5px solid black;
  background-color: var(--background-color);
  color: var(--color);
  min-height: 80vh;
  padding: var(--universal-padding);
}

.projects-wrapper,
.project-container {
  margin-top: 2rem;
  height: 100%;
  padding: 1rem 0;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  flex-wrap: wrap;
  row-gap: 2rem;
  /* border: 1px solid red; */
  
}

.pcard {
  
  width: 18rem;
  min-height: 20rem;
  padding: 0.5rem 0.5rem;
  /* border: 1px solid red; */
  border-radius: 5px;
  box-shadow: 0px 0.5px 10px 0px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.p-img {
  /* border: 1px solid red; */
  width: 100%;
  
 
}

.p-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.pcard-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}

.pacard-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.pacard-btns button {
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

/* Contact section */
.contact {
  border-top: 5px solid black;
  background-color: var(--background-color);
  color: var(--color);
  min-height: 80vh;
  padding: var(--universal-padding);
}

.contact-wrapper,
.contact-container {
  margin-top: 2rem;
  height: 100%;
  padding: 1rem 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  flex-wrap: wrap;
  row-gap: 2rem;
 
}

.c-card {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0.5px 10px 0px rgb(255, 255, 255);
  display: flex;
  padding: 20px;
  height: fit-content;
  width: 40%;
  justify-content: center;
  
}

.c-social {
  
  margin-bottom: 20px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
 
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2rem 0 0;
}

.c-social i {
  font-size: 2rem;
  color: var(--color);
}

.c-info {
  flex: 1;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

.wa-form {
  margin-top: 10px;
}

.wa-form label {
  display: block;
  
  margin-bottom: 5px;
  font-size: var(--font-size-medium);
  margin: 1rem 0;
}

.wa-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
  outline: none;
}

.wa-form button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 992px) {
  header {
    justify-content: end;
    font-size: var(--font-size-large);
    padding-right: 1rem;
  }

  .universal-padding {
    padding: 10px 2rem;
  }

  .right-btns {
    width: 80%;
  }

  .c-card {
    width: 90%;
  }

  nav {
    display: none;
  }

  header .bars {
    display: block;
    font-size: 3rem;
  }

  nav.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 3;
    overflow-y: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul li a {
    font-size: var(--font-size-large);
  }

  .skills{
    padding: 1rem 1rem;
  }
  
  .card .card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    
    
  }
  .projects {
    padding: 1rem 1rem;
  }
  .contact {
    padding: 1rem 1rem;
  }
  .wa-form label, .wa-form textarea, .wa-form button {
    font-size: 1rem;
  }

}

/* Existing CSS styles... */
@media screen and (max-width: 992px) {
  .first-section{
    padding: 1rem;
  }
 
  .right h1 {
    font-size: 2rem;
  }
  .right-btns{
    
    
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .right-btns button{
    width: 80%;
    border-radius: 5px;
  }
  
}
/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  header .bars {
    font-size: 2rem;
  }
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  header .bars {
    font-size: 2rem;
  }
}
@media screen and (max-width: 560px) {
  .card{
    width: 70%;
  }
}

